
@media (min-width: 900px){
    
    .menu-button{
        display: none !important;
    }
    .menu-list{
        display: flex !important;
        opacity: 1 !important;
        visibility: visible !important;
        width: auto !important;
        flex-wrap: wrap !important;
    }
    .menu-item{
        width: auto !important;
    }
    .menu-button + div{
        position: relative !important;
        transform: none !important;
        min-width: min-content !important;
    }
    .image-container{
        margin-left: 3rem;
    }
}
